// form
.c-stsSend {
    @keyframes animationRotateLoader {
        from {@include transforms(rotate(0deg), center)}
        to {@include transforms(rotate(360deg), center)}
    }
    position: relative;
    overflow: hidden;
    width: 100%;
    &__feedback {
        @include roundedAll($radius: 5px);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        line-height: 28px;
        padding: 20px;
        &.--error {
            background: $feedbackError;
            span {
                color: $white;
            }
        }
        &.--loading, &.--load {
            background: $feedbackLoad;
            span {
                color: $text;
            }
            i {
                animation-name: animationRotateLoader;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
        &.--success {
            background: $feedbackSuccess ;
            span {
                color: $white;
            }
        }
        
        i {
            @include flexWidth(40px);
            max-height: 40px;
            svg {
                width: 40px;
                height: 40px;
            }
        }
        
        span {
            @include letterSpacing($psValue: 50);
            display: block;
            padding-left: 15px;
            font-size: 16px;
            line-height: 1.2;
        }
    }
}
.c-simpleForm {
    display: block;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        @include calcWidthForPositionNegative(-15px);
    }
    li {
        position: relative;
        display: block;
        padding: 15px;
    }
    li.liBtn {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .field--hiddenValidate, input {
            position: absolute;
            bottom: 0;
            right: 0;
            display: inline;
            width: 0;
            height: 0;
            @include opacity(0);
        }
    }
    li.liFile {
        .inputText {
            position: relative;
            z-index: 1;
            cursor: pointer;
            padding-right: 50px;
        }
        .inputAttach {
            cursor: pointer;
            background: $white;
            position: absolute;
            z-index: 2;
            left: 15px;
            bottom: -5px;
            right: 0;
            width: 100%;
            @include calc(width, 100%, '-', 30px);
            @include opacity(0);
        }
        &:after {
            @include transforms(rotate(0deg), center);
            @include transition();
            content: '';
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            bottom: 26px;
            right: 35px;
            background: url(#{$media_icons}icon_attach.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            z-index: 1;
        }
    }
    li.liSelectFull {
        position: relative;
        * {
            @include transition(all, 0ms, linear);
            @include transition(border, 200ms, linear);
        }
        .selectBox {
            display: block;
            position: relative;
            width: 100%;
            select {
                @include opacity(0);
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
            }
        }
        .inputBox {
            display: block;
            position: relative;
            z-index: 1;
            width: 100%;
            &:after {
                @include transforms(rotate(0deg) translateY(50%), center);
                @include transition();
                content: '';
                width: 12px;
                height: 10px;
                display: block;
                position: absolute;
                bottom: 50%;
                right: 20px;
                background: url(#{$media_assets}caret-down.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
        }
        
        &.is-active {
            .selectBox {
                select {
                    @include opacity(1);
                    background: transparent;
                    height: 44px;
                }
            }
            .inputBox {
                input {
                    @include opacity(0);
                }
                &:after {
                    @include transforms(rotate(180deg) translateY(50%), bottom);
                }
            }
        }
    }
    li.liCheckbox {
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 0;
            }
            * {
                cursor: pointer;
            }
            label {
                @include paragrafos();
                text-transform: none;
                order: 2;
                padding-left: 10px;
                margin-bottom: 0;
            }
            input {
                @include roundedAll(4px);
                @include flexWidth(24px);
                display: block;
                padding: 0;
                height: 24px;
                &:checked {
                    background: url(#{$media_icons}/icon_checked.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
    li.liRadio {
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 0;
            }
            * {
                cursor: pointer;
            }
            label {
                @include paragrafos();
                text-transform: none;
                order: 2;
                padding-left: 10px;
                margin-bottom: 0;
            }
            input {
                @include roundedAll(12px);
                @include flexWidth(24px);
                display: block;
                padding: 0;
                height: 24px;
                &:checked {
                    background: url(#{$media_icons}/icon_checked.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
    label, input, select, textarea, .listOfSelectedJobs {
        @include transition();
        display: block;
        width: 100%;
    }
    input, select, textarea, .listOfSelectedJobs {
        background: $white;
        border: 1px solid $lightGray;
    }
    .listOfSelectedJobs {
        span {
            @include paragrafos($tc: $placeholderText);
        }
        span[data-codejob] {
            @include paragrafos();
        }
    }
    input, select, textarea {
        @include paragrafos;
        @include placeholder {
            @include paragrafos($tc: $placeholderText);
        }
        &.error{
            border: 1px solid $feedbackError;
        }
        &:focus {
            border-color: $primary;
        }
    }
    input, select {
        height: 44px;
        line-height: 44px;
        padding: 0 20px;
    }
    select {
        &:invalid {
            color: $placeholderText;
        }
    }
    textarea {
        padding: 15px 20px;
        line-height: 1.5;
        height: 100px;
        max-height: 200px;
        min-height: 100px;
        resize: vertical;
    }
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        &.error{
            font-size: 12px;
            color: $feedbackError;
            bottom: -5px;
            left: 15px;
            position: absolute;
        }
    }
}
.c-search {
    display: block;
    width: 100%;
    form {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        input {
            @include transition();
            @include paragrafos();
            display: block;
            position: relative;
            width: 100%;
            height: 42px;
            line-height: 42px;
            background: $white3;
            padding: 0 45px 0 15px;
            @include placeholder {
                text-transform: none;
                font-size: 12px;
            }
            &:focus {
                background: $mutedGray;
            }
        }
        button {
            @include transition();
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 42px;
            line-height: 42px;
            width: 42px;
            color: $text;
            font-size: 14px;
            &:hover {
                background: $lightGray;
            }
        }
    }
    &.--min {
        form {
            input {
                @include flexWidth(42px);
                z-index: 2;
                padding-right: 0;
                background: transparent;
                color: transparent;
                cursor: pointer;
                @include placeholder {
                    color: transparent;
                }
                &:focus {
                    @include flexWidth(100%);
                    background: $white3;
                    padding-right: 45px;
                    color: $text;
                    cursor: text;
                    z-index: 0;
                }
            }
            button {
                z-index: 1;
            }
        }
    }
    &.--newsletter {
        form {
            input {
                background: #e8e7e4;
                &:focus {
                    background: #dadada;
                }
            }
            button {
                width: 50px;
                &:hover {
                    background: #dadada;
                }
            }
        }
    }
}

// hamburguer menu
.c-hamburguer {
    .c-hamburguer__hero {
        @include transforms($property: rotate(0deg));
        @include transition();
        cursor: pointer;
        display: block;
        height: 12px;
        position: relative;
        width: 13px;
        .bar {
            @extend .u-showElement;
            @include roundedAll(1px);
            @include transforms($property: rotate(0deg));
            @include transition();
            background: $text;
            display: block;
            height: 2px;
            position: absolute;
            width: 100%;
            &.bar_1 {
                top: 0;
                left: 0;
            }
            &.bar_2 {
                top: 5px;
                left: 0;
            }
            &.bar_3 {
                top: 10px;
                left: 0;
            }
        }
    }
    &.is-active {
        @include roundedAll(20px);
        .c-hamburguer__hero {
            @include transforms($property: rotate(180deg) scale(0.8));
            .bar {
                &.bar_1 {
                    top: 12px;
                    @include transforms($property: rotate(45deg));
                }
                &.bar_2 {
                    @extend .u-hideElement;
                }
                &.bar_3 {
                    top: 12px;
                    @include transforms($property: rotate(-45deg));
                }
            }
        }
    }
}

// buttons / links / sub menu
$c_btn_heightDefault: 44px;
$c_btn_heightSmall: 38px;
$c_btn_maxWidth: 220px;
$c_btnIcon_heightDefault: 44px;
$c_btnIcon_heightSmall: 38px;
$c_btnIcon_maxWidth: 220px;
.c-btn {
    @include transition();
    position: relative;
    overflow: hidden;
    display: block;
    min-width: 130px;
    max-width: $c_btn_maxWidth;
    width: 100%;
    cursor: pointer;
    background: $primary;
    height: $c_btn_heightDefault;
    line-height: $c_btn_heightDefault;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: $fwRegular;
    font-family: $fontFamily__bebas;
    color: $white;
    white-space: nowrap;
    // default btns
    &.--primary {
        background: $primary;
        color: $white;
        &:hover {
            background: $primaryDark;
        }
    }
    &.--secondary {
        background: $secondary;
        color: $white;
        &:hover {
            background: $secondaryLight;
        }
    }
    &.--disabled {
        background: $lightGray;
        color: $baseGray;
        pointer-events: none;
    }
    // stroke btns
    &.--stroke {
        border: 2px solid;
        line-height: $c_btn_heightDefault - 4;
        &.--primary {
            background: transparent;
            color: $primary;
            border-color: $primary;
            &:hover {
                background: $primaryDark;
                border-color: $primaryDark;
                color: $white;
            }
        }
        &.--secondary {
            background: transparent;
            color: $secondary;
            border-color: $secondary;
            &:hover {
                background: $secondaryDark;
                border-color: $secondaryDark;
                color: $white;
            }
        }
        &.--disabled {
            background: transparent;
            color: $mediumGray;
            border-color: $mediumGray;
            pointer-events: none;
        }
    }
    // small
    &.--small {
        &.--primary {
            height: $c_btn_heightSmall;
            line-height: $c_btn_heightSmall;
        }
        &.--secondary {
            height: $c_btn_heightSmall;
            line-height: $c_btn_heightSmall;
        }
        &.--disabled {
            height: $c_btn_heightSmall;
            line-height: $c_btn_heightSmall;
        }
    }
    // small with stroke
    &.--small {
        &.--stroke {
            &.--primary {
                line-height: $c_btn_heightSmall - 4;
            }
            &.--secondary {
                line-height: $c_btn_heightSmall - 4;
            }
            &.--disabled {
                line-height: $c_btn_heightSmall - 4;
            }
        }
    }
}
.c-btnWithIcon {
    @include transition();
    @include roundedAll();
    position: relative;
    overflow: hidden;
    min-width: 130px;
    max-width: $c_btnIcon_maxWidth;
    width: 100%;
    padding: 0 20px;
    cursor: pointer;
    height: $c_btnIcon_heightDefault;
    line-height: $c_btnIcon_heightDefault;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $c_btnIcon_heightDefault;
        @include flexWidth(20px);
        img {
            width: 20px;
            height: 20px;
            path {
                @include transition();
            }
        }
    }
    span {
        @include transition();
        text-transform: uppercase;
        font-size: 16px;
        font-weight: $fwRegular;
        white-space: nowrap;
        padding-left: 10px;
    }
    // default
    &.--primary {
        background: $primary;
        i {
            img {
                path {
                    fill: $white;
                }
            }
        }
        span {
            color: $white;
        }
        &:hover {
            background: $primaryDark;
        }
    }
    &.--secondary {
        background: $secondary;
        i {
            img {
                path {
                    fill: $white;
                }
            }
        }
        span {
            color: $white;
        }
        &:hover {
            background: $secondaryDark;
        }
    }
    &.--disabled {
        background: $lightGray;
        pointer-events: none;
        i {
            img {
                path {
                    fill: $baseGray;
                }
            }
        }
        span {
            color: $baseGray;
        }
    }
    // stroke btns
    &.--stroke {
        border: 2px solid;
        &.--primary {
            background: transparent;
            border-color: $primary;
            i {
                img {
                    path {
                        fill: $primary;
                    }
                }
            }
            span {
                color: $primary;
            }
            &:hover {
                background: $primary;
                i {
                    img {
                        path {
                            fill: $white;
                        }
                    }
                }
                span {
                    color: $white;
                }
            }
        }
        &.--secondary {
            background: transparent;
            border-color: $secondary;
            i {
                img {
                    path {
                        fill: $secondary;
                    }
                }
            }
            span {
                color: $secondary;
            }
            &:hover {
                background: $secondary;
                i {
                    img {
                        path {
                            fill: $white;
                        }
                    }
                }
                span {
                    color: $white;
                }
            }
        }
        &.--disabled {
            background: transparent;
            border-color: $mediumGray;
            i {
                img {
                    path {
                        fill: $mediumGray;
                    }
                }
            }
            span {
                color: $mediumGray;
            }
        }
    }
    // small
    &.--small {
        &.--primary {
            height: $c_btnIcon_heightSmall;
        }
        &.--secondary {
            height: $c_btnIcon_heightSmall;
        }
        &.--disabled {
            height: $c_btnIcon_heightSmall;
        }
    }
}
.c-subMenu {
    @include transition();
    display: block;
    position: relative;
    z-index: 4;
    // default styles
    > .c-subMenu__call {
        @include transition();
        display: block;
        width: 100%;
        position: relative;
        text-align: center;
        cursor: pointer;
        z-index: 2;
        &:after {
            @include transition();
            content: '';
            display: block;
            width: 12px;
            height: 6px;
            position: absolute;
            bottom: -12px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: url(#{$media_assets}caret-down.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    > .c-subMenu__content {
        @include transition();
        @include scroll();
        @include calc(max-height, 100vh, '-', 300px);
        @include u-hideElement;
        @include transforms(translateX(-50%), center);
        @include roundedAll();
        border: 1px solid $lightGray;
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
        width: 250px;
        position: absolute;
        top: 80px;
        left: 50%;
        background: $white;
        padding: 10px;
        z-index: 2;
        ul li {
            a {
                @include roundedAll();
                @include transition();
                display: block;
                padding: 10px;
                color: $text;
                &:hover {
                    background: $mutedGray;
                }
            }
        }
    }
    .c-subMenu__mask {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.10);
        z-index: 1;
        display: none;
    }
    
    // sub menu level 1 ativo
    &.is-active {
        z-index: 3;
        > .c-subMenu__call {
            &:after {
                @include transforms(rotate(180deg), center);
            }
        }
        > .c-subMenu__content {
            @include u-showElement;
            top: 40px;
        }
        .c-subMenu__mask {
            display: block;
        }
    }
    
    // sub level 2
    .c-subMenu {
        @include roundedAll();
        border: 1px solid transparent;
        margin-bottom: 0;
        > .c-subMenu__call {
            text-align: left;
            padding-right: 30px;
            font-weight: bold;
            &:after {
                right: 10px;
                left: inherit;
                bottom: 50%;
                @include transforms(translateY(50%), center);
            }
        }
        > .c-subMenu__content {
            @include transforms(translateX(0), center);
            width: 100%;
            left: 0;
            top: 0;
            background: $white2;
            overflow: hidden;
            position: relative;
            padding: 0 10px;
            max-height: 0;
            border: 0;
        }
        &.is-active {
            border-color: $lightGray;
            background: $mutedGray;
            margin-bottom: 5px;
            > .c-subMenu__call {
                &:after {
                    @include transforms(rotate(180deg), center);
                }
            }
            > .c-subMenu__content {
                overflow-y: auto;
                padding: 10px;
                max-height: 400px;
            }
        }
    }
    
    // sub with c-btn
    &.--with-c-btn {
        > .c-subMenu__call {
            max-width: 100%;
            text-align: left;
            padding-right: 50px;
            padding-left: 20px;
            &.c-btnWithIcon {
                display: flex;
            }
            &.--primary {
                &:after {
                    background: url(#{$media_assets}caret-down-white.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
            &:after {
                @include transforms(translateY(50%), center);
                left: inherit;
                right: 20px;
                bottom: 50%;
            }
        }
        &.is-active {
            > .c-subMenu__content {
                top: $c_btn_heightDefault;
            }
        }
    }
}
$c_subMenuHover_defaultHeight: 18px;
.c-subMenuHover {
    position: relative;
    width: 100%;
    > a {
	    @include paragrafos();
        display: block;
        height: $c_subMenuHover_defaultHeight;
        line-height: $c_subMenuHover_defaultHeight;
        position: relative;
	    padding-right: 15px;
        white-space: nowrap;
        &:after {
            @include transition();
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 12px;
            height: $c_subMenuHover_defaultHeight;
            line-height: $c_subMenuHover_defaultHeight;
	        background: url(#{$media_assets}caret-down.svg);
	        background-repeat: no-repeat;
	        background-position: center;
        }
        &.is-blocked-mobile {
            pointer-events: none;
        }
    }
    
    &__sub {
        @include transition();
        @include u-hideElement;
        display: block;
        width: 100%;
        position: absolute;
        background: $white3;
        padding: 10px 0;
        > li {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        > li a {
            @include transition();
            @include paragrafos();
            display: block;
            width: 100%;
            padding: 6px 20px;
            &:hover {
                background: $white;
            }
        }
    }
    
    &.--thisOpenInBottom {
        > .c-subMenuHover__sub {
            @include transforms(translateX(-50%), center);
            top: 44px;
            left: 50%;
            min-width: 150px;
            max-width: 450px;
        }
    }
    &.--thisOpenInRight {
        > .c-subMenuHover__sub {
            @include calc(left, 100%, '+', 10px);
            top: 0;
            min-width: 150px;
            max-width: 200px;
        }
    }
    &.--thisOpenInLeft {
        > .c-subMenuHover__sub {
            @include calc(right, 100%, '+', 10px);
            top: 0;
            min-width: 150px;
            max-width: 200px;
        }
    }
    
    &:hover {
        > a {
            color: $primary;
            &:after {
                @include transforms(rotate(180deg), center);
            }
        }
        > .c-subMenuHover__sub {
            @include u-showElement;
        }
        &.--thisOpenInBottom {
            > .c-subMenuHover__sub {
                top: $c_subMenuHover_defaultHeight;
            }
        }
        &.--thisOpenInRight {
            > .c-subMenuHover__sub {
                left: 100%;
            }
        }
        &.--thisOpenInLeft {
            > .c-subMenuHover__sub {
                right: 100%;
            }
        }
    }
}
.c-whatsAppLink {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: 60px;
    z-index: 12;
    &__icon {
        @include roundedAll(50%);
        @include flexWidth(60px);
        @include transition();
        background: $whatsappPrimary;
        background: radial-gradient(circle, $whatsappPrimary 0%, $whatsappSecondary 100%);
        -webkit-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        height: 60px;
        cursor: pointer;
        img, svg {
            @include transition();
            @include transforms(rotate(10deg));
            width: 30px;
            height: 28px;
            display: block;
            path {
                fill: $white !important;
            }
        }
        &:hover {
            @include transforms(scale(1.1), center);
        }
    }
    &__infos {
        @include u-hideElement;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        text-align: right;
        div {
            @include flexWidth(100%);
            display: block;
            width: 100%;
            max-height: 24px;
        }
        span {
            position: relative;
            right: -60px;
            display: inline-block;
            font-weight: 700;
            padding: 0 40px 0 15px;
            height: 24px;
            line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            &.wppCaption {
                @include transition();
                background: $mutedGray;
                color: $whatsappSecondary;
                font-size: 13px;
                @include letterSpacing(20);
                @include rounded(top, left, 15px);
                @include rounded(bottom, left, 15px);
                @include rounded(top, right, 15px);
            }
            &.wppNumber {
                @include transition($delay: 100ms);
                background: $white;
                color: $whatsappSecondary;
                font-size: 14px;
                @include letterSpacing(0);
                @include rounded(bottom, left, 15px);
                @include rounded(bottom, right, 15px);
            }
        }
    }
    &:hover {
        max-width: 480px;
        .m_whatsApp__infos {
            @include transition($delay: 100ms);
            @include u-showElement;
            span {
                right: -25px;
            }
        }
        .m_whatsApp__icon {
            img, svg {
                @include transforms(rotate(0deg));
            }
        }
    }
}

// lists
.c-infosContato {
    display: block;
    li {
        display: block;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        i {
            @include flexWidth(40px);
            padding-right: 10px;
            svg {
                width: 30px;
                height: 30px;
                display: block;
                path {
                    @include transition();
                    fill: $primary;
                }
            }
        }
        .caption {
            @include transition();
            @include paragrafos();
            font-style: normal;
        }
        &:hover {
            i {
                svg path, img {
                    fill: $secondary;
                }
                img {
                    @include opacity(0.85);
                }
            }
            .caption {
                color: $secondary;
            }
        }
    }
}
.c-socialList {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    li {
        padding: 1px;
    }
    a {
        @include opacity(0.75);
        display: block;
        &:hover {
            @include opacity(1);
        }
    }
    svg, img {
        display: block;
        width: 20px;
        height: 20px;
        object-position: center;
        object-fit: cover;
        path, circle {
            @include transition();
        }
    }
    &.--rounded {
        a {
            @include transition();
            @include roundedAll(50%);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
        }
        &.--primary {
            a {
                background: $primary;
                svg path, svg circle {
                    fill: $white !important;
                }
                &:hover {
                    background: $primaryDark;
                }
            }
        }
        &.--secondary {
            a {
                background: $secondary;
                svg path, svg circle {
                    fill: $white !important;
                }
                &:hover {
                    background: $secondaryDark;
                }
            }
        }
        &.--white {
            a {
                background: $white;
                svg path, svg circle {
                    fill: $baseGray !important;
                }
                &:hover {
                    background: $white3;
                }
            }
        }
    }
    &.--default {
        a {
            @include transition();
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            svg path, svg circle {
                fill: $text !important;
            }
            svg rect {
                stroke: $text !important;
            }
        }
        &.--primary {
            a {
                svg path, svg circle {
                    fill: $primary !important;
                }
                &:hover {
                    svg path, svg circle {
                        fill: $primaryDark !important;
                    }
                }
            }
        }
        &.--secondary {
            a {
                svg path, svg circle {
                    fill: $secondary !important;
                }
                &:hover {
                    svg path, svg circle {
                        fill: $secondaryDark !important;
                    }
                }
            }
        }
        &.--white {
            a {
                svg path, svg circle {
                    fill: $white !important;
                }
                &:hover {
                    svg path, svg circle {
                        fill: $white3 !important;
                    }
                }
            }
        }
    }
}

// grid e tabs
.c-responsiveGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &.--col12 {> li {@extend .u-fw8;}}
    &.--col11 {> li {@extend .u-fw9;}}
    &.--col10 {> li {@extend .u-fw10;}}
    &.--col9 {> li {@extend .u-fw11;}}
    &.--col8 {> li {@extend .u-fw12;}}
    &.--col7 {> li {@extend .u-fw14;}}
    &.--col6 {> li {@extend .u-fw16;}}
    &.--col5 {> li {@extend .u-fw20;}}
    &.--col4 {> li {@extend .u-fw25;}}
    &.--col3 {> li {@extend .u-fw33;}}
    &.--col2 {> li {@extend .u-fw50;}}
    &.--col1 {> li {@extend .u-fw100;}}
    &.--colNaN {
        > li {
            flex: 1 1 auto;
        }
    }
}
.c-tabHorizontal {
    display: block;
    width: 320px;
    max-width: 100%;
    overflow: hidden;
    &__header {
       display: flex;
       flex-direction: row;
       align-items: stretch;
       justify-content: space-between;
       flex-wrap: nowrap;
       background: $primary;
       ul {
           @include scroll($size: 10px);
           @include transforms(rotate(180deg), center);
           background: $primary;
           direction: rtl;
           flex: 1 1 auto;
           overflow: auto;
           white-space: nowrap;
       }
       li {
           @include transforms(rotate(180deg), center);
           display: inline-block;
       }
       a {
           background: $primary;
           display: block;
           color: $white;
           text-align: center;
           padding: 14px;
           text-decoration: none;
           &:hover {
               background: $primaryDark;
           }
           &.is-active {
               color: $primary;
               background: $secondaryLight;
           }
       }
       &.is-scroll {
           .scrollBtn {
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: center;
           }
       }
   }
    &__content {
        @include transition();
        @include u-hideElement;
        display: block;
        padding: 20px;
        border-left: 2px solid $primary;
        border-right: 2px solid $primary;
        border-bottom: 2px solid $primary;
        &.is-active {
            @include u-showElement;
        }
    }
}
.c-toggleList {
    margin-bottom: 10px;
    &:last-of-type {
        margin-bottom: 0;
    }
    &__header {
        padding-right: 25px;
        display: block;
        position: relative;
        cursor: pointer;
        > * {
            @include transition();
            font-family: $fontFamily__bebas;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            text-transform: uppercase;
        }
        &:after {
            @include transition();
            @include transforms(translateY(-50%), center);
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            right: 0;
            top: 50%;
            background: url(#{$media_assets}caret-down.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    &__content {
        @include transition();
        @include u-hideElement;
        display: block;
        overflow: hidden;
        padding-top: 0;
        max-height: 0;
        p {
            @include paragrafos();
            font-family: $fontFamily__bebas;
        }
    }
    
    &.is-active {
        .c-toggleList__header {
            > * {
                color: $secondary;
            }
            &:after {
                @include transforms(translateY(-50%) rotate(180deg), center);
            }
        }
        .c-toggleList__content {
            @include u-showElement;
            overflow: auto;
            max-height: inherit;
            padding-top: 10px;
        }
    }
}

// cards
.c-productCall {
    display: block;
    position: relative;
    margin-bottom: 30px;
    &:last-of-type {
        margin-bottom: 0;
    }
    &__figure {
        background: $mutedGray;
        img {
            @include transition();
        }
    }
    &__infos {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 20%;
        background: $white;
        padding: 20px;
        h3, .price {
            @include paragrafos($fs: 20px);
        }
    }
    
    &.--percent10 {
        .c-productCall__infos {
            bottom: 10%;
        }
    }
    &.--percent20 {
        .c-productCall__infos {
            bottom: 20%;
        }
    }
    &.--percent30 {
        .c-productCall__infos {
            bottom: 30%;
        }
    }
    &.--percent40 {
        .c-productCall__infos {
            bottom: 40%;
        }
    }
    &.--percent50 {
        .c-productCall__infos {
            bottom: 50%;
        }
    }
    
    &:hover {
        .c-productCall__figure {
            img {
                @include opacity(0.75);
            }
        }
    }
}
.c-productCallSimple {
    figure {
        background: $mutedGray;
        img {
            @include transition();
        }
    }
    &__infos {
        margin-top: 25px;
        h3, .price {
            @include paragrafos($fs: 20px);
            font-family: $fontFamily__bebas;
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    &:hover {
        figure {
            img {
                @include opacity(0.75);
            }
        }
    }
}
.c-cardProductTwoCols {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &__figure {
        @include flexWidth(310px);
        display: block;
        position: relative;
        img {
            display: block;
            width: 100%;
            min-height: 300px;
            object-fit: cover;
            object-position: center;
        }
    }
    &__infos {
        flex: 1 1 auto;
        h2 {
            text-transform: uppercase;
            font-weight: $fwLight;
            color: $text;
            position: relative;
            margin-bottom: 25px;
            &:after {
                content: '';
                display: block;
                width: 26px;
                height: 3px;
                background: #000;
                position: absolute;
                bottom: -13px;
            }
        }
        p {
            @include paragrafos();
        }
        .c-btn {
            margin-top: 25px;
            max-width: 150px;
        }
    }
    &.--textLeft {
        .c-cardProductTwoCols__figure {
            order: 2;
        }
        .c-cardProductTwoCols__infos {
            padding-right: 50px;
            order: 1;
            text-align: right;
            h2, h3, p {
                text-align: right;
            }
            h2 {
                &:after {
                    right: 0;
                }
            }
            .c-btn {
                display: inline-block;
            }
        }
    }
    &.--textRight {
        .c-cardProductTwoCols__infos {
            padding-left: 50px;
        }
    }
}
.c-cardSwiper {
    h2 {
        text-align: right;
        font-weight: $fwRegular;
        color: $text;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    p {
        @include paragrafos($fs: 13px);
        text-align: right;
    }
}
.c-cardProduct {
    @include transition();
    display: block;
    width: 100%;
    border: 1px solid transparent;;
    &__figure {
        display: block;
        width: 100%;
        img {
            @include transition();
        }
    }
    &__infos {
        display: block;
        padding: 25px;
        * {
            color: $text;
            display: block;
            width: 100%;
            font-weight: $fwLight;
        }
        h2 {
            font-size: 15px;
            margin-bottom: 20px;
            position: relative;
            text-transform: uppercase;
            max-width: 160px;
            &:after {
                content: '';
                display: block;
                width: 26px;
                height: 1px;
                background: #828282;
                position: absolute;
                bottom: -10px;
            }
        }
        span.price {
            font-size: 22px;
        }
        span.paymentObs {
            font-size: 13px;
        }
    }
    &:hover {
        border-color: $mutedGray;
        .c-cardProduct__figure {
            img {
                @include opacity(0.75);
            }
        }
    }
}
.c-productInfos {
    &__code {
        font-family: $fontFamily__bebas;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        color: $text;
        margin-bottom: 10px;
        display: block;
    }
    &__title {
        font-family: $fontFamily__bebas;
        font-size: 34px;
        line-height: 1.05;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        color: $text;
        margin-bottom: 10px;
    }
    &__resume {
        font-family: $fontFamily__bebas;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        color: $text;
    }
    &__options {
        width: 100%;
        display: block;
        margin: 20px 0;
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            @include calcWidthForPositionNegative(-1px);
            li {
                padding: 1px;
            }
        }
    }
    &__sizeGuide {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 30px;
        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            color: $text;
        }
        i {
            @include flexWidth(20px);
        }
        span {
            font-family: $fontFamily__bebas;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            text-align: left;
            padding-left: 10px;
        }
    }
    &__price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        .price__cashPayment {
            padding-right: 25px;
            border-right: 1px solid $lightGray;
        }
        .price__creditPayment {
            padding-left: 25px;
        }
        span {
            display: block;
            width: 100%;
            font-family: $fontFamily__bebas;
            text-transform: uppercase;
            color: $text;
            line-height: 1.05;
        }
        span.before {
            @include opacity(0.5);
            text-decoration-line: line-through;
            font-size: 20px;
        }
        span.now {
            color: $primary;
            font-size: 50px;
        }
        span.timesQtf {
            font-size: 15px;
        }
        span.timesPrice {
            font-size: 25px;
        }
        span.timesFee {
            font-size: 15px;
        }
    }
    &__btn {
        margin-bottom: 15px;
        .c-btn {
            max-width: 100%;
            width: 100%;
        }
    }
    &__safe {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        i {
            @include flexWidth(16px);
        }
        span {
            padding-left: 10px;
            font-family: $fontFamily__bebas;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            color: $text;
        }
    }
}

// ui
.c-videoCall {
    display: block;
    position: relative;
    width: 100%;
    background: $secondaryDark;
    &__cover {
        @include transition();
        @include opacity(0.2);
        display: block;
        width: 100%;
    }
    &__play {
        @include transition();
        @include roundedAll(50%);
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 84px;
        height: 84px;
        margin-left: -42px;
        margin-top: -42px;
        background: #FF1313;
        img {
            display: block;
            width: 11px;
            height: 16px;
            object-fit: contain;
        }
        &:hover {
            @include opacity(0.95);
        }
    }
    &:hover {
        .c-videoCall__cover {
            @include opacity(0.85);
            @include pb(40%);
        }
        .c-videoCall__play {
            @include transforms(scale(1.2), center);
        }
    }
}

// vtex default components
#mini-cart-admake {
    display: block;
    .mini-cart-header {
        display: none;
    }
    .mini-cart-itens {
        display: block;
        .mini-cart-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid $mediumGray;
            .imagem {
                @include flexWidth(70px);
                a {
                    display: block;
                    width: 100%;
                    @extend .u-aspectRatio;
                    @extend .u-aspectRatio--1-1;
                }
            }
            .detalhes {
                flex: 1 1 auto;
                padding-left: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .nome-produto {
                    @include paragrafos();
                    flex: 1 1 auto;
                    display: block;
                    a {
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .qtd-valor {
                    display: block;
                    border-left: 1px solid $mediumGray;
                    padding-left: 15px;
                    margin-left: 15px;
                    span {
                        @include paragrafos($tc: $darkGray, $mb: 0);
                        font-weight: $fwBold;
                        text-align: right;
                        display: block;
                        width: 100%;
                        line-height: 1;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    .mini-cart-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .mini-cart-totais {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            * {
                @include flexWidth(100%);
                display: block;
                color: $text;
            }
            span {
                font-size: 12px;
            }
            strong {
                order: 2;
                font-size: 20px;
            }
        }
        .mini-cart-botao {
            @include flexWidth(150px);
            a {
                @include flexWidth(100%);
                @extend .c-btn;
                @extend .--primary;
            }
        }
    }
}